<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="postaldemo1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="postaldemo1.My.MySettings.db_postConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\Database1.accdb" providerName="System.Data.OleDb"/>
        <add name="Database1.accdb" connectionString="XpoProvider=MSAccess;Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\tusar\Documents\project\postalprojects  on 28 sept 2019\Edit Master on  4 1 18\postaldemo1\Database1.accdb;Persist Security Info=True"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <postaldemo1.My.MySettings>
            <setting name="usertype" serializeAs="String">
                <value>Admin</value>
            </setting>
        </postaldemo1.My.MySettings>
    </userSettings>
</configuration>
